
body {
  background: url("../images/dogs.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  margin-top: 20%;
  background-color: rgba(0,0,0,0);
  color: #f5f5f5;
}

a, h1, h3, h4, h6, label {
  color: #f5f5f5;
}

a:hover {
  color: #710000;
}
